@import "tailwindcss";

@theme {
  --color-primary: #7C3AED;
  --color-secondary: #DDD6FE;
  --color-accent: #EDE9FE;
  --color-card: #FFFFFF;
  --color-muted: #9CA3AF;

  --color-muted-foreground: #6B7280;
  --color-card-foreground: #111827;
  --color-secondary-foreground: #4C1D95;
  --color-accent-foreground: #4C1D95;
}